doctype html
html
  head
    title Roster
    include head.pug
    script(src="roster.jsx" type="text/babel")
    script!="window.bootstrapRosterData=" + JSON.stringify(roster)
  body
    div.container
      h1=(playerName + '\'s Roster')
      div#roster

