doctype html
html
  head
    title Roster
    include head.pug
  body
    div.container
      h1=(playerName + '\'s Roster')
      table.table
        each card in roster.active
          tr
            td= card.name
        each card in roster.bench
          tr
            td= card.name
