doctype html
html
  head
    title Roster
    include head.pug
  body
    div.container
      h1=(playerName + '\'s Roster')
      table.table
        tr
          th Position
          th Name
        each card in roster
          tr
            td= card.position
            td= card.name
